<% if logged_in? %>
  <div class="container">
    <div class="row">
      <h2 class="center-align grey-text text-darken-1">Hello <%= current_user.name %></h2>
    </div>
  </div>
<% else %>
  <%= render 'shared/login_form' %>
<% end %>