#logo {
  img {
    width: 70px;
    vertical-align: middle;
  }
}

.input-field {
  label.active {
    &::after {
      white-space: nowrap;
    }
  }
}

.login_wrapper {
  margin-top: 40px;
}

.profile-pic-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.application_container {
  height: inherit;

  > .row {
    height: inherit;

    > .col {
      height: inherit;
    }
  }
}

.sidebar {
  margin-top: 30px;
}

textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
}

.new_goal {
  margin: 10px 0px;
}

#goal_content {
  margin: 20px 0;
}

.message_wrapper {
  text-align: center;

  .done_icon {
    vertical-align: bottom;
  }

  .alert-success {
    display: inline-block;
    margin-left: 15px;
  }
}

.profile_tab_area {
  .profile-pic-wrapper {
    display: inline-block;
    margin: 20px 20px 0 0;
  }

  .profile_name {
    display: inline-block;
  }
}

.collapsible-body {
  h4 {
    margin-left: 2rem;
  }
}

.feedback_tab {
  .card {
    width: 40%;
    margin: 20px 4% 10px 5%;
    display: inline-block;

  }
}



.feedback-card-title{
  font-size: 18px;
  color: #757575;
}

.feedback-input-textarea textarea {
  resize: vertical;
  height: 200px;
  border: 1px solid #e0e0e0;
}

.feedback-padding {
  padding-left: 25px;
  padding-right: 25px;
}

.feedback-profile-pick {
  width: 100px;
  height: 100px;
}

table tbody tr td h6 {
  font-size: 18px;
}